/* IC caving web site style sheet for main pages 
(swiped from xmps.sourceforge.net)
*/

/* JMF Colour redesign:-
 * Nice Red: #B13533
 * Slate Blue: #3C5F87
 *   -> Sedate Purple: #62476b
 * Black: #000000
 * Dark Grey: #262626
 * Mid Grey: #B8B8B8
 * Pale Grey: #F2F2F2
 * White: #FFFFFF
 */

/* Page properties */

body {	background-color: #F2F2F2;
	color: #000;
	font-size: 11pt;
	font-family: verdana,arial,helvetica,sans-serif; 
	/*width: 600px;
	margin: 0 auto;*/ }

/* Paragraphs */

P {	color: #000;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 11pt; }
	

P.titlemenu {	color: #F2F2F2;
		font-family: verdana,arial,helvetica,sans-serif;
		font-weight: bold;
		font-size:  11pt}

P.menu {	color: #000;
		text-align: center;
		font-family: verdana,arial,helvetica,sans-serif;
		font-size: 11pt; }
		

/* Link properties */

A:link     {	text-decoration: none;
		font-family: verdana,arial,helvetica,sans-serif;
		color: #3C5F87; 
		font-weight: bold }

A:visited  {	text-decoration: none;
		font-family: verdana,arial,helvetica,sans-serif;
		color: #62476b; 
		font-weight: bold }

A.menu:link{	text-decoration: none;
		font-family: verdana,arial,helvetica,sans-serif;
		color: #3C5F87;
		font-weight: normal; }

A.menu:visited{	text-decoration: none;
	        font-family: verdana,arial,helvetica,sans-serif;
		color: #62476b;
		font-weight: normal; }

/* tables */

TABLE.rootmenu{	background-color: #B8B8B8 ;
max-width: 66em;
}

TABLE.articlemenu { 
border: 2px solid #B8B8B8;
width: 100%;
max-width: 66em;
background-color: #FFFFFF;
}

TABLE.insidemenu{	 border: none }

TD.titlemenu { background-color: #3C5F87 }

TD.articlemenu { background-color: #F2F2F2 }

TD.redmenu { background-color: #B13533 }

TD.menu {background-color: #FFFFFF }

/* Heading Properties */

H1 {	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 24pt; 
	text-align: right;
	color:	#262626; }

H2 { font-family: verdana,arial,helvetica,sans-serif;
     font-size: 18pt;
     font-weight: bold;
     color: #262626;
     }

H3 { font-family: verdana,arial,helvetica,sans-serif;
     font-size: 12pt;
     font-weight: bold;
     color: #262626;
      }


UL { color: #FFFFFF;
     font-family: verdana,arial,helvetica,sans-serif;
     font-size: 11pt;}

DL {	color: #FFFFFF;
	font-family: verdana,arial,helvetica,sans-serif;
	font-size: 11pt;}

